<p-panel>

  <p-header>
    <div class="ui-helper-clearfix">
      <div class="ui-inputgroup">
          <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <p-checkbox [(ngModel)]="readOnly" binary="true"></p-checkbox>
          <span>&nbsp;&nbsp;&nbsp;Disabled&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
          
          
      </div>
      
    </div>
  </p-header>
  
  <form [formGroup]="form" ngNativeValidate *ngIf="hasContent" (ngSubmit)="onSubmit()" class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid"
    style="margin: 10px 0px">
    <!-- <div  [innerHTML]="content.type | form " ></div> -->
    <ng-container *ngFor=" let control of config">
      <input pInputText type="text" id="control.name" [formControlName]="control.name" name="control.name" required />
    </ng-container>
    
    <div class="ui-inputgroup" style="float:right;">
      <button pButton  type="button" label="Cancel" [disabled]="formValid()"></button>
      <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <button pButton  type="submit" label="Submit" [disabled]="formValid()"></button>
  </div>
  </form>
</p-panel>