<mat-expansion-panel hideToggle="true" [expanded]="true">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <mat-icon matTooltip="{{data.id}}">{{icon}}</mat-icon> &nbsp;
      <small>{{data.type}}</small>
    </mat-panel-title>
    <mat-panel-description>
      {{data.name}}
    </mat-panel-description>

  </mat-expansion-panel-header>

  <mat-form-field class="full-width">
    <input matInput placeholder="Name" (keyup)="onChanged()" [(ngModel)]="data.name" required>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-select (selectionChange)="onChanged()" placeholder="On Failed" [(ngModel)]="data.onFailed">
      <mat-option value="Terminate">Terminate</mat-option>
      <mat-option value="Stop">Stop</mat-option>
      <mat-option value="Continue">Continue</mat-option>
      <mat-option value="Ignored">Ignored</mat-option>
    </mat-select>
  </mat-form-field>
  &nbsp;
  <mat-form-field>
    <mat-select (selectionChange)="onChanged()" placeholder="Disabled" [(ngModel)]="data.disabled">
      <mat-option value="Enabled">Enabled</mat-option>
      <mat-option value="Disabled">Disabled</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field class="description">
    <textarea matInput (keyup)="onChanged()" placeholder="Description" [(ngModel)]="data.description" class="description-height"></textarea>
  </mat-form-field>
  <br>
  <br>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Parameters
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-container *ngFor="let item of data.parameters">
      <button mat-icon-button (click)="removeParameter(item.order)">
        <mat-icon>remove_circle_outline</mat-icon>
      </button>
      <mat-form-field>
        <input matInput (keyup)="onChanged()" placeholder="#" [(ngModel)]="item.order" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput (keyup)="onChanged()" placeholder="id" [(ngModel)]="item.id" required>
      </mat-form-field>

      <br>
    </ng-container>
  </mat-expansion-panel>
  <br>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Objects
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-container *ngFor="let item of data.objects">
      <button mat-icon-button (click)="removeObject(item.order)">
        <mat-icon>remove_circle_outline</mat-icon>
      </button>
      <mat-form-field>
        <input matInput (keyup)="onChanged()" placeholder="#" [(ngModel)]="item.order" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput (keyup)="onChanged()" placeholder="id" [(ngModel)]="item.id" required>
      </mat-form-field>

      <br>
    </ng-container>
  </mat-expansion-panel>
  <br>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Actions
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-container *ngFor="let item of data.actions">
      <button mat-icon-button (click)="removeAction(item.order)">
        <mat-icon>remove_circle_outline</mat-icon>
      </button>
      <mat-form-field>
        <input matInput (keyup)="onChanged()" placeholder="#" [(ngModel)]="item.order" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput (keyup)="onChanged()" placeholder="id" [(ngModel)]="item.id" required>
      </mat-form-field>

      <mat-form-field>
        <mat-select (selectionChange)="onChanged()" placeholder="diabled" [(ngModel)]="item.disabled">
          <mat-option value="Enabled">Enabled</mat-option>
          <mat-option value="Disabled">Disabled</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
    </ng-container>
  </mat-expansion-panel>
  <br>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Returns
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-container *ngFor="let item of data.returns">
      <button mat-icon-button (click)="removeReturn(item.order)">
        <mat-icon>remove_circle_outline</mat-icon>
      </button>
      <mat-form-field>
        <input matInput (keyup)="onChanged()" placeholder="#" [(ngModel)]="item.order" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput (keyup)="onChanged()" placeholder="key" [(ngModel)]="item.key" required>
      </mat-form-field>

      <mat-form-field>
        <mat-select (selectionChange)="onChanged()" placeholder="diabled" [(ngModel)]="item.disabled">
          <mat-option value="Enabled">Enabled</mat-option>
          <mat-option value="Disabled">Disabled</mat-option>
        </mat-select>
      </mat-form-field>
      <br>

      <br>
    </ng-container>
  </mat-expansion-panel>
  <br>
  <mat-action-row class="button-row">
    <button mat-raised-button (click)="cancel()">Cancel</button>
    <button mat-raised-button (click)="newParameter()">New Parameter</button>
    <button mat-raised-button (click)="newReference()">New Object</button>
    <button mat-raised-button (click)="newAction()">New Action</button>
    <button mat-raised-button (click)="newReturn()">New Return</button>
    <button mat-raised-button (click)="delete()">Delete</button>
    <button mat-raised-button color="primary" (click)="save()" [disabled]="!canSave()">Save</button>
  </mat-action-row>

</mat-expansion-panel>