
<h2>A Test</h2>
The major advantage of this tool is to manage test cases.
<h3 class="first">Admininstrator</h3>
<p-accordion [multiple]="true">
    <p-accordionTab header="Javaagent" [selected]="true">
        The key tech of this project is Javaagent. It is loaded before other classes when the JVM started. So that we can use it to modify the classes we want to monitor. Right now, we add one line at every methods in these classes. Then when these methods are called, our backend will receive the notification.
    </p-accordionTab>
    <p-accordionTab header="Multithread (Performance)">
        With Javaagent, the major issue is performance. We use multithread and async way to solve. When we want to send message to server, we do not directly send it, but put it to queues, then use threads to handle them when it is not so stress.
    </p-accordionTab>
    <p-accordionTab header="Settings">
        Below is the example settings for WebSphere, you need to change the setting file at: 
        <Strong>
            C:\IBM\WebSphere\AppServer\profiles\AppSrv01\config\cells\localhostCell\nodes\localhost\servers\CuramServer\server.xml
        </Strong>
         and change below setting to:
        <p>
             genericJvmArguments="-javaagent:C:\IBM\WebSphere\AppServer\profiles\AppSrv01\installedApps\localhostCell\Curam.ear\Agent.jar=focusOn[facade],hostOn[jiens-mbp.mul.ie.ibm.com:8080],team[devOps],version[7.0.3.0],build[1234]"
        </p>
    </p-accordionTab>
</p-accordion>

<h3>Edit Test Cases</h3>
<p-accordion [multiple]="true">
    <p-accordionTab header="Database: MongoDB">
        MongoDB is our backend Database, it is faster and no restriction on data structure. Of course, it does not support transaction; but we don't really care about this.
    </p-accordionTab>
    <p-accordionTab header="Cache: JCS">
        We use Cache (JCS: Java Cache System) to store the recent query results in the memory, so that the pressure on the Database server will be lower and the response to front end will be really fast.
   </p-accordionTab>
    <p-accordionTab header="REST API">
        The only interface for the backend is REST API.
    </p-accordionTab>
</p-accordion>

<h3>Manage the Testing Environments</h3>
<p-accordion [multiple]="true">
    <p-accordionTab header="Angular 4">
        Front End is developed with Angular 4.
    </p-accordionTab>
    <p-accordionTab header="Separated from Backend (Development)">
        With Angular 4, rxjs, and REST APIs, we can develop the front end UI independently from backend. So the front end project is a separated project, which name is "manage".
    </p-accordionTab>
    
</p-accordion>

<h3>Monitor the Running Instance</h3>
<p-accordion [multiple]="true">
    <p-accordionTab header="Angular 4">
        Front End is developed with Angular 4.
    </p-accordionTab>
    <p-accordionTab header="Separated from Backend (Development)">
        With Angular 4, rxjs, and REST APIs, we can develop the front end UI independently from backend. So the front end project is a separated project, which name is "manage".
    </p-accordionTab>
    
</p-accordion>

<h3>Analyze the Results</h3>
<p-accordion [multiple]="true">
    <p-accordionTab header="Angular 4">
        Front End is developed with Angular 4.
    </p-accordionTab>
    <p-accordionTab header="Separated from Backend (Development)">
        With Angular 4, rxjs, and REST APIs, we can develop the front end UI independently from backend. So the front end project is a separated project, which name is "manage".
    </p-accordionTab>
    
</p-accordion>


