<!-- <p-contextMenu #viewOnly [global]="true" [model]="viewOnlyContextMenuItems"></p-contextMenu>
<p-contextMenu #addTest [global]="true" [model]="addTestContextMenuItems"></p-contextMenu>
<p-contextMenu #addInput [global]="true" [model]="addInputContextMenuItems"></p-contextMenu> -->
<p-tree [value]="nodes" [loadingIcon]="fa-circle-o-notch" (onNodeExpand)="loadNode($event)" class="allarea" (onNodeSelect)="selectNode($event)"
  selectionMode="single" [(selection)]="selectedNode" draggableNodes="true" droppableNodes="true" (onNodeDrop)="dropOnNode($event)"
  >
  
  <ng-template let-node pTemplate="default">
      <span pDraggable="node" (onDragStart)="dragStart($event, node.data)">{{node.label}}</span>
      <!-- <span pDraggable="node">{{node.label}}</span> -->
  </ng-template>
</p-tree>
