<split [gutterSize]="10"  >
  <split-area [size]="35" [visible]="treeViewVisible || debugViewVisible">
    <split direction="vertical" [gutterSize]="5">
      <split-area [visible]="treeViewVisible" [order]="1">

        <app-tree></app-tree>

      </split-area>
      <split-area [visible]="debugViewVisible" [order]="2">

        <app-debug></app-debug>

      </split-area>
    </split>
  </split-area>
  <split-area [size]="65">
    <split direction="vertical" [gutterSize]="5">
      <split-area [visible]="searchViewVisible" [size]="25" [order]="1">

        <app-search></app-search>

      </split-area>
      <split-area [size]="50" [order]="2">
        <p-panel header="Main">

        </p-panel>

      </split-area>
      <split-area [visible]="terminalViewVisible" [size]="25" [order]="3">

        <app-terminal></app-terminal>

      </split-area>

    </split>
  </split-area>
</split>