<div style="display:block;height:93vh;border:3px;">
  <p-toolbar>
    <div class=" ui-toolbar-group-left ">
      <label class="logo ">A Test </label>
      <i class="fa fa-bars "></i>
      <p-tieredMenu #menu [model]="menuItems " (click)="onClicked(event) " [popup]="true "></p-tieredMenu>
      <button #btn type="button " pButton icon="fa fa-list " label="Menu " (click)="menu.toggle($event) "></button>
    </div>
    <div class="ui-toolbar-group-right ">
      <a routerLink="about ">
        <button pButton type="button " label="About " icon="fa-question "></button>
      </a>
    </div>
  </p-toolbar>
  <p-growl [life]="3000 "></p-growl>
  <router-outlet></router-outlet>
  <!-- <p-footer>
    something
  </p-footer> -->
</div>