<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <span>A Test</span>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>shop_two</mat-icon>
      <span>New Suite</span>
    </button>
    <button mat-menu-item>
      <mat-icon>next_week</mat-icon>
      <span>New Case</span>
    </button>
    <button mat-menu-item>
      <mat-icon>picture_in_picture</mat-icon>
      <span>New UI</span>
    </button>
    <button mat-menu-item>
      <mat-icon>library_books</mat-icon>
      <span>New Data</span>
    </button>
  </mat-menu>
</mat-toolbar>
<mat-tab-group (selectedTabChange)="clear()">
  <mat-tab label="Script">
    <app-search [options]="['Suite', 'Case', 'OUT', 'Data']"></app-search>
  </mat-tab>
  <mat-tab label="Environment">
    <app-search [options]="['Idle', 'Running', 'Stopped']"></app-search>
  </mat-tab>
  <mat-tab label="Result">
    <app-search [options]="['Checked', 'Unchecked', 'Recent 1 day', 'Recent 1 week']"></app-search>
  </mat-tab>
</mat-tab-group>
<router-outlet></router-outlet>