<p-panel >
        <p-header>
                <div class="ui-helper-clearfix">
                        <div class="ui-inputgroup">

                                <input (keyup.enter)="onEnter()" [(ngModel)]="command" type="text" pInputText placeholder="help date getData ...">
                                <span class="ui-inputgroup-addon" (click)="runCommand()"><i class="fa fa-terminal"></i></span>

                                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                <p-checkbox [(ngModel)]="readOnly" binary="true"></p-checkbox>
                                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Read Only&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                
                        </div>


                </div>
        </p-header>
        <textarea [readonly]="isReadOnly()" [rows]="10" [cols]="145" pInputTextarea autoResize="autoResize" [(ngModel)]="response"></textarea>

</p-panel>