.form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .full-width {
    width:100%;float:left;overflow:hidden;
  }

  .description {
    width:100%;float:left;overflow:hidden;height:100%;
  }

  .description-height {
      height:100%;min-height: 4em;
  }

  .button-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  html {
    overflow-y: scroll;    
  }