.form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .full-width {
    width:100%;float:left;overflow:hidden;
  }

  .description {
    width:100%;float:left;overflow:hidden;height:100%;
  }

  .description-height {
      height:100%;min-height: 4em;
  }

  .toolbar-spacer {
    flex: 1 1 auto;
  }

  .button-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  html {
    overflow-y: scroll;    
  }

  pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}