/* You can add global styles to this file, and also import other style files */
.allarea {
    display: flex;
    overflow-x: auto;
    overflow-y: auto;
    height: 100% !important;
    width: 100% !important;
    border: 1px;
    margin: 1px;
}



