
<p-panel>
    <p-header>
        <div class="ui-helper-clearfix">
            <div class="ui-inputgroup">
                    
                    <input (keyup.enter)="onEnter()" [(ngModel)]="search_string" type="text" pInputText placeholder="Search">
                    <span class="ui-inputgroup-addon" (click)="search()"><i class="fa fa-search"></i></span>

                    <span>&nbsp;</span>
                    <p-selectButton [options]="types" 
                    [(ngModel)]="selectedTypes" 
                    multiple="multiple" [style]="{'float':'right'}">
                    </p-selectButton>
            </div>
            
            
        </div>
    </p-header>
    <div class="allarea">
        <p-dataTable [value]="results" [editable]="false" selectionMode="single" [(selection)]="selectedRow" (onRowSelect)="onRowSelect($event)" >
            <p-column field="type" header="Type" [sortable]="true"></p-column>
            <p-column field="name" header="Name" [sortable]="true"></p-column>
            <p-column field="description" header="Description" [sortable]="true"></p-column>
        </p-dataTable>
    </div>
    
  
</p-panel>
